[submodule "kirby"]
	path = kirby
	url = https://github.com/getkirby/kirby.git
	ignore = all
[submodule "environments/starterkit"]
	path = environments/starterkit
	url = https://github.com/getkirby/starterkit.git
[submodule "environments/plainkit"]
	path = environments/plainkit
	url = https://github.com/getkirby/plainkit.git
[submodule "environments/demokit"]
	path = environments/demokit
	url = https://github.com/getkirby/demokit.git
[submodule "environments/plugin-staticache/site/plugins/staticache"]
	path = environments/plugin-staticache/site/plugins/staticache
	url = https://github.com/getkirby/staticache.git
